.btn {
  box-sizing: border-box;
  display: inline-block;
  line-height: calc(2.5 * 16px);
  border-radius: 5px;
  font-weight: 400;
  font-size: calc(0.875 * 16px);
  user-select: none;
  outline: none;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition:
    background-color 200ms ease 0ms,
    box-shadow 200ms ease 0ms,
    border 200ms ease 0ms,
    color 200ms ease 0ms;
  position: relative;
  overflow: hidden;
  color: var(--theme-palette-accents-5);
  --button-color: var(--theme-palette-accents-5);
  background-color: var(--theme-palette-background);
  border: 1px solid var(--theme-palette-border);
  cursor: pointer;
  pointer-events: auto;
  box-shadow: none;
  min-width: min-content;
  width: initial;
  height: calc(2.5 * 16px);
  --button-height: calc(2.5 * 16px);
  padding: 0 calc(1.15 * 16px) 0 calc(1.15 * 16px);
  --button-icon-padding: 0 calc(1.15 * 16px) 0 calc(1.15 * 16px);
  margin: 0;

  &--shadow {
    box-shadow: var(--theme-expressiveness-shadowSmall);

    &:hover,
    &:focus {
      box-shadow: var(--theme-expressiveness-shadowMedium);
      transform: translate3d(0px, -1px, 0px);
    }
  }

  &--auto {
    width: auto;
  }

  &[data-type="abort"] {
    color: var(--theme-palette-accents-5);
    --button-color: var(--theme-palette-accents-5);
    background-color: transparent;
    border: transparent;
  }

  &[data-type="secondary"] {
    color: var(--theme-palette-background);
    --button-color: var(--theme-palette-background);
    background-color: var(--theme-palette-foreground);
    border: 1px solid var(--theme-palette-foreground);
  }

  &:hover,
  &:focus {
    color: var(--theme-palette-foreground);
    --button-color: var(--theme-palette-foreground);
    background-color: var(--theme-palette-background);
    border-color: var(--theme-palette-foreground);
    cursor: pointer;
    pointer-events: auto;
    box-shadow: none;
    transform: translate3d(0px, 0px, 0px);

    &[data-type="abort"] {
      color: var(--theme-palette-accents-5);
      --button-color: var(--theme-palette-accents-5);
      background-color: transparent;
      border-color: transparent;
    }
  
    &[data-type="secondary"] {
      color: var(--theme-palette-foreground);
      --button-color: var(--theme-palette-foreground);
      background-color: var(--theme-palette-background);
      border-color: 1px solid var(--theme-palette-foreground);
    }
  }

  & :global(.text) {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: inherit;
    top: -1px;
  }

  & :global(.text p),
  & :global(.text pre),
  & :global(.text div) {
    margin: 0;
  }
}
