.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 782pt;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16pt;
  background-color: var(--theme-palette-background);
  font-size: 16px;
  height: 54px;
  box-sizing: border-box;

  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
  }

  & > div {
    display: flex;
    align-items: center;
  }

  & :global(.theme-button) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
    margin: 0 8pt;
  }

  &__avatar-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    appearance: none;
    cursor: pointer;
  }
}
